
%input#proposal_attributes{:type => "hidden", :name => "proposal_attributes", :value => @proposal.raw_data['attributes'][@proposal.barclamp].to_json}
%p
  %label{:for => "proposal_attributes"}= t('.attributes')
  = link_to t('raw'), proposal_barclamp_path(:id => @proposal.name, :controller => @proposal.barclamp, :dep_raw => @dep_raw, :attr_raw => true), :style => "float: right;"
  %div.container
    %p
      %label{ :for => :mysql_instance }= t('.mysql_instance')
      = instance_selector("mysql", :mysql_instance, "mysql_instance", @proposal)
    %p
      %label{ :for => :keystone_instance }= t('.keystone_instance')
      = instance_selector("keystone", :keystone_instance, "keystone_instance", @proposal)
    %p
      %label{ :for => :service_user }= t('.service_user')
      %input#service_user{:type => "text", :name => "service_user", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["service_user"], :onchange => "update_value('service_user','service_user', 'string')"}
    %p
      %label{ :for => :service_password }= t('.service_password')
      %input#service_password{:type => "text", :name => "service_password", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["service_password"], :onchange => "update_value('service_password','service_password', 'string')"}
    %p
      %label{ :for => :glance_instance }= t('.glance_instance')
      = instance_selector("glance", :glance_instance, "glance_instance", @proposal)
    %p
      %label{ :for => :verbose }= t('.verbose')
      = select_tag :verbose, options_for_select([['true','true'], ['false', 'false']], @proposal.raw_data['attributes'][@proposal.barclamp]["verbose"].to_s), :onchange => "update_value('verbose', 'verbose', 'boolean')"
    %p
      %label{ :for => :use_novnc }= t('.use_novnc')
      = select_tag :use_novnc, options_for_select([['true','true'], ['false', 'false']], @proposal.raw_data['attributes'][@proposal.barclamp]["use_novnc"].to_s), :onchange => "update_value('use_novnc', 'use_novnc', 'boolean')"
    %p
      %label{ :for => :libvirt_type }= t('.libvirt_type')
      = select_tag :libvirt_type, options_for_select([['kvm','kvm'], ['qemu', 'qemu']], @proposal.raw_data['attributes'][@proposal.barclamp]["libvirt_type"].to_s), :onchange => "update_value('libvirt_type', 'libvirt_type', 'string')"
    %p
      %label{ :for => :network_header }= t('.network_header')
    %div.container
      %p
        %label{ :for => :tenant_vlans }= t('.tenant_vlans')
        = select_tag :tenant_vlans, options_for_select([['true','true'], ['false', 'false']], @proposal.raw_data['attributes'][@proposal.barclamp]["network"]["tenant_vlans"].to_s), :onchange => "update_value('network/tenant_vlans', 'tenant_vlans', 'boolean')"
      %p
        %label{ :for => :dhcp_enabled }= t('.dhcp_enabled')
        = select_tag :dhcp_enabled, options_for_select([['true','true'], ['false', 'false']], @proposal.raw_data['attributes'][@proposal.barclamp]["network"]["dhcp_enabled"].to_s), :onchange => "update_value('network/dhcp_enabled', 'dhcp_enabled', 'boolean')"
      %p
        %label{ :for => :ha_enabled }= t('.ha_enabled')
        = select_tag :ha_enabled, options_for_select([['true','true'], ['false', 'false']], @proposal.raw_data['attributes'][@proposal.barclamp]["network"]["ha_enabled"].to_s), :onchange => "update_value('network/ha_enabled', 'ha_enabled', 'boolean')"
      %p
        %label{ :for => :allow_same_net_traffic }= t('.allow_same_net_traffic')
        = select_tag :allow_same_net_traffic, options_for_select([['true','true'], ['false', 'false']], @proposal.raw_data['attributes'][@proposal.barclamp]["network"]["allow_same_net_traffic"].to_s), :onchange => "update_value('network/allow_same_net_traffic', 'allow_same_net_traffic', 'boolean')"
      %p
        %label{ :for => :num_networks }= t('.num_networks')
        %input#num_networks{:type => "text", :name => "num_networks", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["network"]["num_networks"], :onchange => "update_value('network/num_networks','num_networks', 'integer')"}
      %p
        %label{ :for => :network_size }= t('.network_size')
        %input#network_size{:type => "text", :name => "network_size", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["network"]["network_size"], :onchange => "update_value('network/network_size','network_size', 'integer')"}
    %p
      %label{ :for => :volume_header }= t('.volume_header')
    %div.container
      %p
        %label{ :for => :volume_name }= t('.volume_name')
        %input#volume_name{:type => "text", :name => "volume_name", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["volume"]["volume_name"], :onchange => "update_value('volume/volume_name','volume_name', 'string')"}
      %p
        %label{ :for => :volume_type }= t('.volume_type')
        = select_tag :volume_type, options_for_select([['raw','raw'], ['local', 'local'], ['eqlx','eqlx']], @proposal.raw_data['attributes'][@proposal.barclamp]["volume"]["volume_type"].to_s), :onchange => "update_view();update_value('volume/volume_type', 'volume_type', 'string')"
      %div{ :id => 'eqlx_parameters', :class => 'container' }
        %p
          %label{ :for => :eqlx_header }= t('.eqlx_parameters')
        %div.container
          %label{ :for => :san_ip }= t('.eqlx_san_ip')
          %input#san_ip{:type => "text", :name => "san_ip", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["volume"]["eqlx"]["san_ip"], :onchange => "update_value('volume/eqlx/san_ip', 'san_ip', 'string')"}
          %p
            %label{ :for => :san_login }= t('.eqlx_san_login')
            %input#san_login{:type => "text", :name => "san_login", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["volume"]["eqlx"]["san_login"], :onchange => "update_value('volume/eqlx/san_login', 'san_login', 'string')"}
          %p
            %label{ :for => :san_password }= t('.eqlx_san_password')
            %input#san_password{:type => "text", :name => "san_password", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["volume"]["eqlx"]["san_password"], :onchange => "update_value('volume/eqlx/san_password', 'san_password', 'string')"}
          %p
            %label{ :for => :eqlx_group_name }= t('.eqlx_group_name')
            %input#eqlx_group_name{:type => "text", :name => "eqlx_group_name", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["volume"]["eqlx"]["eqlx_group_name"], :onchange => "update_value('volume/eqlx/eqlx_group_name', 'eqlx_group_name', 'string')"}
          %p
            %label{ :for => :eqlx_pool }= t('.eqlx_pool')
            %input#eqlx_pool{:type => "text", :name => "eqlx_pool", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["volume"]["eqlx"]["eqlx_pool"], :onchange => "update_value('volume/eqlx/eqlx_pool', 'eqlx_pool', 'string')"}
          %p
            %label{ :for => :san_thin_provision }= t('.eqlx_san_thin_provision')
            = select_tag :san_thin_provision, options_for_select([['yes','true'], ['no', 'false']], @proposal.raw_data['attributes'][@proposal.barclamp]["volume"]["eqlx"]["san_thin_provision"].to_s), :onchange => "update_value('volume/eqlx/san_thin_provision', 'san_thin_provision', 'boolean')"
          %p
            %label{ :for => :eqlx_use_chap }= t('.eqlx_use_chap')
            = select_tag :eqlx_use_chap, options_for_select([['yes','true'], ['no', 'false']], @proposal.raw_data['attributes'][@proposal.barclamp]["volume"]["eqlx"]["eqlx_use_chap"].to_s), :onchange => "update_value('volume/eqlx/eqlx_use_chap', 'eqlx_use_chap', 'boolean')"
          %p
            %label{ :for => :eqlx_chap_login }= t('.eqlx_chap_login')
            %input#eqlx_chap_login{:type => "text", :name => "eqlx_chap_login", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["volume"]["eqlx"]["eqlx_chap_login"], :onchange => "update_value('volume/eqlx/eqlx_chap_login', 'eqlx_chap_login', 'string')"}
          %p
            %label{ :for => :eqlx_chap_password }= t('.eqlx_chap_password')
            %input#eqlx_chap_password{:type => "text", :name => "eqlx_chap_password", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["volume"]["eqlx"]["eqlx_chap_password"], :onchange => "update_value('volume/eqlx/eqlx_chap_password', 'eqlx_chap_password', 'string')"}
          %p
            %label{ :for => :eqlx_ssh_keepalive_interval }= t('.eqlx_ssh_keepalive_interval')
            %input#eqlx_ssh_keepalive_interval{:type => "text", :name => "eqlx_ssh_keepalive_interval", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["volume"]["eqlx"]["eqlx_ssh_keepalive_interval"], :onchange => "update_value('volume/eqlx/eqlx_ssh_keepalive_interval', 'eqlx_ssh_keepalive_interval', 'integer')"}
          %p
            %label{ :for => :eqlx_cli_timeout }= t('.eqlx_cli_timeout')
            %input#eqlx_cli_timeout{:type => "text", :name => "eqlx_cli_timeout", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["volume"]["eqlx"]["eqlx_cli_timeout"], :onchange => "update_value('volume/eqlx/eqlx_cli_timeout', 'eqlx_cli_timeout', 'integer')"}
      %div{ :id => 'volume_file_parameters', :class => 'container' }
        %label{ :for => :file_header }= t('.volume_file_parameters')
        %div.container
          %label{ :for => :local_file }= t('.volume_file_name')
          %input#local_file{:type => "text", :name => "local_file", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["volume"]["local_file"], :onchange => "update_value('volume/local_file','local_file', 'string')"}
          %p
          %label{ :for => :local_size }= t('.volume_file_size')
          %input#local_size{:type => "text", :name => "local_size", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["volume"]["local_size"], :onchange => "update_value('volume/local_size','local_size', 'integer')"}
      %div{ :id => 'volume_disk_parameters', :class => 'container' }
        %label{ :for => :raw_header }= t('.volume_disk_parameters')
        %div.container
          %label{ :for => :nova_raw_method }= t('.volume_raw_mode')
          = select_tag :nova_raw_method, options_for_select([['first','first'], ['all', 'all'], ['selected', 'selected']], @proposal.raw_data['attributes'][@proposal.barclamp]["volume"]["nova_raw_method"].to_s), :onchange => "update_value('volume/nova_raw_method', 'nova_raw_method', 'string')"
        %div{ :id => 'nova_volume_disks', :class => 'container' }
          %label{ :for => :volume_disks }= t('.nova_volume_disks')
          %ul{ :id => 'nova_volume_disks_list'}

:javascript

  var volume_role = 'nova-multi-volume';
  var volume_path = 'div.column_50 div ul#' + volume_role + '.ddlist';
  var volume_disk_list_path = 'ul#nova_volume_disks_list';

  function update_nova_disks(){
    var listItems = $("li input", volume_disk_list_path);
    var disks = [];
    var checked_count = 0;
    for (var i = 0; i < listItems.size(); ++i){
      if (listItems[i].checked){
        disks.push(listItems[i].name);
        checked_count = checked_count + 1;
      }
    }
    if (listItems.size() > 0 && checked_count == 0){
      i18n_msg('no_disks_checked');
    }
    var proposal_input = $("input#proposal_attributes"); 
    var proposal_data = JSON.parse(proposal_input.val());
    proposal_data['volume']['nova_volume_disks'] = disks;
    proposal_input.val(JSON.stringify(proposal_data));
  }

  function make_disk_list(data, node){
    $(volume_disk_list_path).empty();
    if ($.isEmptyObject(data)){
      i18n_msg('warning', node, volume_role, 'It has no suitable disk for nova-volume storage. '
                                           + 'If applyed, regular file will be used for volume group');
    }
    $.each(data, function(disk, size){
      var li = document.createElement('li');
      var inp = document.createElement('input');
      var label = document.createTextNode(disk + ", size: " + size + " sectors");
      inp.type = "checkbox";
      inp.name = disk;
      inp.value = disk;
      inp.onclick = update_nova_disks;
      li.appendChild(inp);
      li.appendChild(label);
      $(volume_disk_list_path).append(li);
    });
    update_nova_disks();
  }

  function on_role_change(callback, param) {
    var node = $('li', volume_path).attr('id');
    if (node) {
      $.getJSON('/nova/node_disks?id=' + node,
        function(data){
          make_disk_list(data, node);
          if (callback){
            callback(param);
          }
        });
    }
  }

  function check_disks_loaded_from_proposal(disks){
    var listItems = $("li input", volume_disk_list_path);
    for (var i = 0; i < listItems.size(); ++i){
      if ($.inArray(listItems[i].name, disks) != -1 ){
        listItems[i].checked = true;
      };
    }
  }

  function load_proposal_disk_attrs() {
    var proposal_data = JSON.parse($("input#proposal_attributes").val()); 
    var disks = proposal_data['volume']['nova_volume_disks'];
    
    on_role_change(check_disks_loaded_from_proposal, disks);      
 
  }

  function update_view() {
    var proposal_data = JSON.parse($("input#proposal_attributes").val()); 
    var choice = $("select#volume_type").val();
    if (choice == 'eqlx') {
      $('div#eqlx_parameters').show();
      $('div#volume_file_parameters').hide();
      $('div#volume_disk_parameters').hide();
    } else {
      $('div#eqlx_parameters').hide();
      $('div#volume_file_parameters').show();
      $('div#volume_disk_parameters').show();
    }
  }

  $(document).ready(function(){
    update_view();
  });

  // HACK HACK HACK
  // TODO: figure out the better way of overriding this functions
  window.setTimeout(function(){

    messages['warning'] = 'Warning: Avoid using Node [0] to Role [1]. [2]';
    messages['no_disks_checked'] = 'Warning: If no one of disks from the list are checked, '
                                 + 'will use any suitable disk from it for the volume group';
  
    var org_drop_item = this.drop_item;
    var org_remove_item = this.remove_item;
    this.drop_item = function(name, list) {
            var vall = org_drop_item(name, list);
            if (vall && list == volume_role) {
              on_role_change();
            }
            return vall;
    }

    this.remove_item = function(name, list) {
            var vall = org_remove_item(name, list);
            if (list == volume_role) {
              $(volume_disk_list_path).empty();
              update_nova_disks();
            }
            return vall;
    }

    load_proposal_disk_attrs();
  }, 0);
