
%input#proposal_attributes{:type => "hidden", :name => "proposal_attributes", :value => @proposal.raw_data['attributes'][@proposal.barclamp].to_json}
%p
  %label{:for => "proposal_attributes"}= t('.attributes')
  = link_to t('raw'), proposal_barclamp_path(:id => @proposal.name, :controller => @proposal.barclamp, :dep_raw => @dep_raw, :attr_raw => true), :style => "float: right;"
  %div.container
    %p
      %label{ :for => :rabbitmq_instance }= t('.rabbitmq_instance')
      = instance_selector("rabbitmq", :rabbitmq_instance, "rabbitmq_instance", @proposal)
    %p
      %label{ :for => :database_instance }= t('.database_instance')
      = instance_selector("database", :database_instance, "db/database_instance", @proposal)
    %p
      %label{ :for => :keystone_instance }= t('.keystone_instance')
      = instance_selector("keystone", :keystone_instance, "keystone_instance", @proposal)
    %p
      %label{ :for => :itxt_instance }= t('.itxt_instance')
      = instance_selector("inteltxt", :itxt_instance, "itxt_instance", @proposal)
    %p
      %label{ :for => :trusted_flavors }= t('.trusted_flavors')
      = select_tag :trusted_flavors, options_for_select([['true','true'], ['false', 'false']], @proposal.raw_data['attributes'][@proposal.barclamp]["trusted_flavors"].to_s), :onchange => "update_value('trusted_flavors', 'trusted_flavors', 'boolean')"
    %p
      %label{ :for => :service_user }= t('.service_user')
      %input#service_user{:type => "text", :name => "service_user", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["service_user"], :onchange => "update_value('service_user','service_user', 'string')"}
    %p
      %label{ :for => :service_password }= t('.service_password')
      %input#service_password{:type => "text", :name => "service_password", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["service_password"], :onchange => "update_value('service_password','service_password', 'string')"}
    %p
      %label{ :for => :glance_instance }= t('.glance_instance')
      = instance_selector("glance", :glance_instance, "glance_instance", @proposal)
    %p
      %label{ :for => :verbose }= t('.verbose')
      = select_tag :verbose, options_for_select([['true','true'], ['false', 'false']], @proposal.raw_data['attributes'][@proposal.barclamp]["verbose"].to_s), :onchange => "update_value('verbose', 'verbose', 'boolean')"
    %p
      %label{ :for => :use_novnc }= t('.use_novnc')
      = select_tag :use_novnc, options_for_select([['true','true'], ['false', 'false']], @proposal.raw_data['attributes'][@proposal.barclamp]["use_novnc"].to_s), :onchange => "update_value('use_novnc', 'use_novnc', 'boolean')"
    = render 'barclamp/git/pfsdeps.html.haml'
    %p
      %label{ :for => :libvirt_type }= t('.libvirt_type')
      = select_tag :libvirt_type, options_for_select([['kvm','kvm'], ['qemu', 'qemu']], @proposal.raw_data['attributes'][@proposal.barclamp]["libvirt_type"].to_s), :onchange => "update_value('libvirt_type', 'libvirt_type', 'string')"
    %p
      %label{ :for => :quantum_instance }= t('.quantum_instance')
      = instance_selector("quantum", :quantum_instance, "quantum_instance", @proposal)
    %p
      %label{ :for => :cinder_instance }= t('.cinder_instance')
      = instance_selector("cinder", :cinder_instance, "cinder_instance", @proposal)
