= attributes_for @proposal do
  .panel-sub
    = header show_raw_deployment?, true

  .panel-body
    = instance_field :database
    = instance_field :rabbitmq
    = instance_field :keystone
    = instance_field :glance
    = instance_field :cinder
    = instance_field :neutron

    - if defined? InteltxtService
      = instance_field :inteltxt
      = boolean_field :trusted_flavors

    %fieldset
      %legend
        = t(".scheduler_header")

      = float_field %w(scheduler ram_allocation_ratio)
      = float_field %w(scheduler cpu_allocation_ratio)

    %fieldset
      %legend
        = t(".live_migration_header")

      = boolean_field :use_migration
      = boolean_field :use_shared_instance_storage

    %fieldset
      %legend
        = t(".kvm_header")

      = boolean_field %w(kvm ksm_enabled)

    %fieldset
      %legend
        = t(".vmware_header")

      = string_field %w(vcenter host)
      = string_field %w(vcenter user)
      = password_field %w(vcenter password)
      = array_string_field %w(vcenter clusters), :only_comma => true
      %span.help-block
        = t('.vmware_cluster_hint')
      = string_field %w(vcenter datastore)
      = string_field %w(vcenter interface)

    %fieldset
      %legend
        = t(".zvm_header")

      = string_field %w(zvm zvm_xcat_server)
      = string_field %w(zvm zvm_xcat_username)
      = password_field %w(zvm zvm_xcat_password)
      = string_field %w(zvm zvm_diskpool)
      = string_field %w(zvm zvm_diskpool_type)
      = string_field %w(zvm zvm_host)
      = string_field %w(zvm zvm_user_profile)
      = string_field %w(zvm zvm_scsi_pool)
      = string_field %w(zvm zvm_xcat_master)

    %fieldset
      %legend
        = t(".ssl_header")

      = boolean_field %w(ssl enabled), :collection => :ssl_protocols_for_nova, "data-sslprefix" => "ssl", "data-sslcert" => "/etc/nova/ssl/certs/signing_cert.pem", "data-sslkey" => "/etc/nova/ssl/private/signing_key.pem"

      #ssl_container
        = boolean_field %w(ssl generate_certs)
        = string_field %w(ssl certfile)
        = string_field %w(ssl keyfile)
        = boolean_field %w(ssl insecure)
        = boolean_field %w(ssl cert_required), "data-enabler" => "true", "data-enabler-target" => "#ssl_ca_certs"
        = string_field %w(ssl ca_certs)

    %fieldset
      %legend
        = t(".vnc_header")

      = string_field :vnc_keymap

      = boolean_field :use_novnc
      = boolean_field %w(novnc ssl enabled), :collection => :ssl_protocols_for_nova, "data-sslprefix" => "novnc_ssl", "data-sslcert" => "", "data-sslkey" => ""

      #novnc_ssl_container
        .alert.alert-info
          = t(".novnc_ssl_hint")

        = string_field %w(novnc ssl certfile)
        = string_field %w(novnc ssl keyfile)

    %fieldset
      %legend
        = t(".logging_header")

      = boolean_field :verbose
