
%input#proposal_attributes{:type => "hidden", :name => "proposal_attributes", :value => @proposal.raw_data['attributes'][@proposal.barclamp].to_json}
%p
  %label{:for => "proposal_attributes"}= t('.attributes')
  = link_to t('raw'), proposal_barclamp_path(:id => @proposal.name, :controller => @proposal.barclamp, :dep_raw => @dep_raw, :attr_raw => true), :style => "float: right;"
  %div.container
    %p
      %label{ :for => :sql_engine }= t('.sql_engine')
      = select_tag :sql_engine, options_for_select([['PostgreSQL/MySQL', 'database']], @proposal.raw_data['attributes'][@proposal.barclamp]["db"]["sql_engine"]), :onchange => "update_value('sql_engine', 'sql_engine', 'string')"
    %p
      %label{ :for => :sql_instance }= t('.sql_instance')
      = instance_selector(@proposal.raw_data['attributes'][@proposal.barclamp]["db"]["sql_engine"],
                          :sql_instance, "sql_instance", @proposal)
    %p
      %label{ :for => :keystone_instance }= t('.keystone_instance')
      = instance_selector("keystone", :keystone_instance, "keystone_instance", @proposal)
    %p
      %label{ :for => :glance_instance }= t('.glance_instance')
      = instance_selector("glance", :glance_instance, "glance_instance", @proposal)
    %p
      %label{ :for => :verbose }= t('.verbose')
      = select_tag :verbose, options_for_select([['true','true'], ['false', 'false']], @proposal.raw_data['attributes'][@proposal.barclamp]["verbose"].to_s), :onchange => "update_value('verbose', 'verbose', 'boolean')"
    %p
      %label{ :for => :libvirt_type }= t('.libvirt_type')
      = select_tag :libvirt_type, options_for_select([['kvm','kvm'], ['xen','xen'], ['qemu', 'qemu']], @proposal.raw_data['attributes'][@proposal.barclamp]["libvirt_type"].to_s), :onchange => "update_value('libvirt_type', 'libvirt_type', 'string')"
    %p
      %label{ :for => :network_header }= t('.network_header')
    %div.container
      %p
        %label{ :for => :tenant_vlans }= t('.tenant_vlans')
        = select_tag :tenant_vlans, options_for_select([['true','true'], ['false', 'false']], @proposal.raw_data['attributes'][@proposal.barclamp]["network"]["tenant_vlans"].to_s), :onchange => "update_value('network/tenant_vlans', 'tenant_vlans', 'boolean')"
      %p
        %label{ :for => :dhcp_enabled }= t('.dhcp_enabled')
        = select_tag :dhcp_enabled, options_for_select([['true','true'], ['false', 'false']], @proposal.raw_data['attributes'][@proposal.barclamp]["network"]["dhcp_enabled"].to_s), :onchange => "update_value('network/dhcp_enabled', 'dhcp_enabled', 'boolean')"
      %p
        %label{ :for => :ha_enabled }= t('.ha_enabled')
        = select_tag :ha_enabled, options_for_select([['true','true'], ['false', 'false']], @proposal.raw_data['attributes'][@proposal.barclamp]["network"]["ha_enabled"].to_s), :onchange => "update_value('network/ha_enabled', 'ha_enabled', 'boolean')"
      %p
        %label{ :for => :allow_same_net_traffic }= t('.allow_same_net_traffic')
        = select_tag :allow_same_net_traffic, options_for_select([['true','true'], ['false', 'false']], @proposal.raw_data['attributes'][@proposal.barclamp]["network"]["allow_same_net_traffic"].to_s), :onchange => "update_value('network/allow_same_net_traffic', 'allow_same_net_traffic', 'boolean')"
      %p
        %label{ :for => :num_networks }= t('.num_networks')
        %input#num_networks{:type => "text", :name => "num_networks", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["network"]["num_networks"], :onchange => "update_value('network/num_networks','num_networks', 'integer')"}
      %p
        %label{ :for => :network_size }= t('.network_size')
        %input#network_size{:type => "text", :name => "network_size", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["network"]["network_size"], :onchange => "update_value('network/network_size','network_size', 'integer')"}
    %div{ :id => 'nova_volume_disks', :class => 'container' }
      %label{ :for => :volume_disks }= t('.nova_volume_disks')
      %ul{ :id => 'nova_volume_disks_list'}

    %label{ :for => :ssl }= t('.ssl')
    %div.container{ :id => :ssl }
      %p
        %label{ :for => :protocol }= t('.protocol')
        = select_tag :protocol, options_for_select([['HTTP','http'], ['HTTPS', 'https']], @proposal.raw_data['attributes'][@proposal.barclamp]["api"]["protocol"].to_s), :onchange => "update_value('api/protocol', 'protocol', 'string')"
        %em{ :id => :ssl_hint }= t('.ssl_hint')

      %div{ :id => :protocol_div }
        //TODO/Fixme: provide upload dialog for these. For now we have to rely on the files being present on the machine:
        %p
          %label{ :for => :apache_ssl_crt_file }= t('.apache_ssl_crt_file')
          = text_field_tag :apache_ssl_crt_file, @proposal.raw_data['attributes'][@proposal.barclamp]["apache"]["ssl_crt_file"], :size => 80, :onchange => "update_value('apache/ssl_crt_file', 'apache_ssl_crt_file', 'string')"

        %p
          %label{ :for => :apache_ssl_key_file }= t('.apache_ssl_key_file')
          = text_field_tag :apache_ssl_key_file, @proposal.raw_data['attributes'][@proposal.barclamp]["apache"]["ssl_key_file"], :size => 80, :onchange => "update_value('apache/ssl_key_file', 'apache_ssl_key_file', 'string')"


:javascript

  var volume_role = 'nova-multi-controller';
  var volume_path = 'div.column_50 div ul#' + volume_role + '.ddlist';
  var volume_disk_list_path = 'ul#nova_volume_disks_list';

  function update_nova_disks(){
    var listItems = $("li input", volume_disk_list_path);
    var disks = [];
    var i = 0;
    var checked_count = 0;
    while ( i < listItems.size()){
      if (listItems[i].checked){
        disks.push(listItems[i].name);
        checked_count = checked_count + 1;
      }
      i = i + 1;
    }
    if (listItems.size() > 0 && checked_count == 0){
      i18n_msg('no_disks_checked');
    }
    var proposal_input = $("input#proposal_attributes"); 
    var proposal_data = JSON.parse(proposal_input.val());
    proposal_data['volume']['nova_volume_disks'] = disks;
    proposal_input.val(JSON.stringify(proposal_data));
    return disks;
  }

  function make_disk_list(data, node){
    $(volume_disk_list_path).empty();
    if (jQuery.isEmptyObject(data)){
      i18n_msg('warning', node, volume_role, 'It has no suitable disk for nova-volume storage. '
                                           + 'If applyed, regular file will be used for volume group');
    }
    $.each(data, function(disk, size){
      $(volume_disk_list_path).append('<li>'
        + '<input type="checkbox"'
        + 'name="'+ disk + '" '
        + 'value="' + disk + '" '
        + 'onclick=update_nova_disks()'
        + ">" 
        + disk
        + ", size: "
        + size
        + " sectors<br>"
        + '</li>'
      );
    });
    update_nova_disks();
  }

  function on_role_change(callback, params) {
    var node = $('li', volume_path).text();
    if (node) {
      $.getJSON('/nova/node_disks/' + node,
        function(data){
          make_disk_list(data, node);
          callback(params);
        });
    }
  }

  function check_disks_loaded_from_proposal(disks){
    var listItems = $("li input", volume_disk_list_path);
    var i = 0;
      while ( i < listItems.size()){
        if (jQuery.inArray(listItems[i].name, disks) != -1 ){
          listItems[i].checked = true;
        };
        i = i + 1;
      }
  }

  function load_proposal_disk_attrs() {
    var proposal_data = JSON.parse($("input#proposal_attributes").val()); 
    var disks = proposal_data['volume']['nova_volume_disks'];
    
    on_role_change(check_disks_loaded_from_proposal, disks);      
 
  }

  // HACK HACK HACK
  // TODO: figure out the better way of overriding this functions
  window.setTimeout(function(){

    messages['warning'] = 'Warning: Avoid using Node [0] to Role [1]. [2]';
    messages['no_disks_checked'] = 'Warning: If no one of disks from the list are checked, '
                                 + 'will use file storage for the volume group';
  
    var org_drop_item = this.drop_item;
    var org_remove_item = this.remove_item;
    this.drop_item = function(name, list) {
            var vall = org_drop_item(name, list);
            if (vall && list == volume_role) {
              on_role_change(function(){});
            }
            return vall;
    }

    this.remove_item = function(name, list) {
            var vall = org_remove_item(name, list);
            if (list == volume_role) {
              $(volume_disk_list_path).empty();
              update_nova_disks();
            }
            return vall;
    }

    load_proposal_disk_attrs();
  }, 1000);

  function toggle_protocol() {
    if ($('#protocol option:selected').attr('value') == 'https') {
      $('#protocol_div').show();
      $('#ssl_hint').show();
    } else {
      $('#protocol_div').hide();
      $('#ssl_hint').hide();
    }
  };

  $(document).ready(function () { toggle_protocol(); });
  $('#protocol').change(toggle_protocol);
